<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>57f618c41d0a6a13004fee68</string>
		<key>messagePrefix</key>
		<string>张译有新的知乎回答</string>
		<key>briefIntro</key>
		<string>演员张译曾是士兵突击贴吧的创始人，堪称最喜欢在网上码字的演员，入驻知乎后回答了许多演戏相关的问题，非常精彩，值得一追！</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/Fv5QSEEmluxHKG37sk7l-MALfzcq.jpg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/Fv5QSEEmluxHKG37sk7l-MALfzcq.jpg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/Fv5QSEEmluxHKG37sk7l-MALfzcq.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/Fj9H9vq-QuAlUZSb97Y_b4HY-rT2.jpg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/Fj9H9vq-QuAlUZSb97Y_b4HY-rT2.jpg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/Fj9H9vq-QuAlUZSb97Y_b4HY-rT2.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>57eb4d88c786b51400d08a83</string>
		<key>messagePrefix</key>
		<string>钟欣潼Ins</string>
		<key>briefIntro</key>
		<string>@Q_gill，想看钟欣潼在Instagram更新的自拍照？看这个主题就对了。</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/FlSXqgmLFOGsWb27Sk-a09dphgLf.jpg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/FlSXqgmLFOGsWb27Sk-a09dphgLf.jpg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/FlSXqgmLFOGsWb27Sk-a09dphgLf.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/FtKMxoY9jsgkl2stI4uf0gpsbPhb.jpg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/FtKMxoY9jsgkl2stI4uf0gpsbPhb.jpg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/FtKMxoY9jsgkl2stI4uf0gpsbPhb.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>55a76450e4b0a71b30b02695</string>
		<key>messagePrefix</key>
		<string>冰火第六卷消息</string>
		<key>briefIntro</key>
		<string>马丁爷爷的第六卷让无数冰火迷翘首以盼，一大波对新一季剧集失望而弃剧的粉丝们也加入了原著党，第六卷开售日即刻提醒你。</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/o_1a927eq0p1ap01i0g1j311l95ckd25.jpeg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/o_1a927eq0p1ap01i0g1j311l95ckd25.jpeg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/o_1a927eq0p1ap01i0g1j311l95ckd25.jpeg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/o_1a94vpssr1fqojimoco156tvuf4n.jpeg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/o_1a94vpssr1fqojimoco156tvuf4n.jpeg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/o_1a94vpssr1fqojimoco156tvuf4n.jpeg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>57334a7dd9595811007a5233</string>
		<key>messagePrefix</key>
		<string>ASMR精选</string>
		<key>briefIntro</key>
		<string>ASMR又称“颅内高潮”，一种“自发性知觉经络反应”的神秘生理感觉，如果你能感受到ASMR，不妨通过这些视频舒缓放松吧！</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/o_1aig5l3er1fc71crh1v1ljcg18hlo.jpeg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/o_1aig5l3er1fc71crh1v1ljcg18hlo.jpeg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/o_1aig5l3er1fc71crh1v1ljcg18hlo.jpeg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/o_1aig5ls2g1vpp1mu5abo1tt71lset.jpeg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/o_1aig5ls2g1vpp1mu5abo1tt71lset.jpeg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/o_1aig5ls2g1vpp1mu5abo1tt71lset.jpeg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>57ee18c61d0a6a13004fd145</string>
		<key>messagePrefix</key>
		<string>歌曲消音恶搞</string>
		<key>briefIntro</key>
		<string>油管主TheKosmic8制作的恶搞消音MV系列，展现大牌歌手唱歌被去掉伴奏后的“真实”画面，小心笑出腹肌。</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/FjrPhi5FoUp6Y65HShOi9OQcKYSj.jpg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/FjrPhi5FoUp6Y65HShOi9OQcKYSj.jpg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/FjrPhi5FoUp6Y65HShOi9OQcKYSj.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/Fo2qafqTHVBWWiGW-HVzVdluR4_V.jpg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/Fo2qafqTHVBWWiGW-HVzVdluR4_V.jpg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/Fo2qafqTHVBWWiGW-HVzVdluR4_V.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>57f110c005e14a1100e2be28</string>
		<key>messagePrefix</key>
		<string>iOS更新提醒</string>
		<key>briefIntro</key>
		<string>当iOS发布新版本时，我们第一时间推送给你。</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/FiOm243toQLvBVcT5Rupa8bHQsTJ.jpg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/FiOm243toQLvBVcT5Rupa8bHQsTJ.jpg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/FiOm243toQLvBVcT5Rupa8bHQsTJ.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/Fr6l6kp9YK37v3Sq-gzjxa4MU3U7.jpg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/Fr6l6kp9YK37v3Sq-gzjxa4MU3U7.jpg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/Fr6l6kp9YK37v3Sq-gzjxa4MU3U7.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>57f2591e177dd41300b6ed13</string>
		<key>messagePrefix</key>
		<string>Sleep no more口碑</string>
		<key>briefIntro</key>
		<string>来自纽约的「沉浸式戏剧」《不眠之夜》将于12月登陆上海，预售票在4天内售罄。制作方称「上海站会融入中国式的新创意」。</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/FlJxeLEWolhWXZlAhn5qmR31Bara.png?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/FlJxeLEWolhWXZlAhn5qmR31Bara.png?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/FlJxeLEWolhWXZlAhn5qmR31Bara.png?imageView2/0/h/1000</string>
			<key>format</key>
			<string>png</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/Fq732cVGrptBwPdGhO_KdTNK0KHc.png?imageView2/0/w/120/h/120/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/Fq732cVGrptBwPdGhO_KdTNK0KHc.png?imageView2/0/w/300/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/Fq732cVGrptBwPdGhO_KdTNK0KHc.png?imageView2/0/h/1000</string>
			<key>format</key>
			<string>png</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>56c484b5fffaec1100b6b294</string>
		<key>messagePrefix</key>
		<string>专辑封面精选</string>
		<key>briefIntro</key>
		<string>一张好的专辑封面，也会与其中的音乐一起成为经典。</string>
		<key>rectanglePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/o_1abpfbmtpp2ha8cffj17nb1s6m2f.jpg?imageView2/1/w/120/h/180/q/30</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/o_1abpfbmtpp2ha8cffj17nb1s6m2f.jpg?imageView2/1/w/200/h/300/q/30</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/o_1abpfbmtpp2ha8cffj17nb1s6m2f.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>jpeg</string>
		</dict>
		<key>squarePicture</key>
		<dict>
			<key>thumbnailUrl</key>
			<string>http://cdn.ruguoapp.com/o_1abpfe8c6o241kj6nip1a4462d2k.jpg?imageView2/0/w/120/h/120/q/30/interlace/1</string>
			<key>middlePicUrl</key>
			<string>http://cdn.ruguoapp.com/o_1abpfe8c6o241kj6nip1a4462d2k.jpg?imageView2/0/w/300/h/300/q/30/interlace/1</string>
			<key>picUrl</key>
			<string>http://cdn.ruguoapp.com/o_1abpfe8c6o241kj6nip1a4462d2k.jpg?imageView2/0/h/1000/interlace/0</string>
			<key>format</key>
			<string>png</string>
		</dict>
	</dict>
</array>
</plist>
