<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerText</key>
		<string></string>
		<key>footerText</key>
		<string></string>
		<key>cellInfo</key>
		<array>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>text</key>
				<string>推送通知设置</string>
			</dict>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>text</key>
				<string>显示设置</string>
			</dict>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>text</key>
				<string>隐私设置</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerText</key>
		<string>关于即刻</string>
		<key>footerText</key>
		<string></string>
		<key>cellInfo</key>
		<array>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>text</key>
				<string>用户协议</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerText</key>
		<string>其他</string>
		<key>footerText</key>
		<string></string>
		<key>cellInfo</key>
		<array>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string>settings_clearcache_15x15_</string>
				<key>text</key>
				<string>清理缓存</string>
			</dict>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string>settings_recommend_15x15_</string>
				<key>text</key>
				<string>向朋友推荐即刻</string>
			</dict>
			<dict>
				<key>click</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>icon</key>
				<string>settings_rate_15x15_</string>
				<key>text</key>
				<string>给即刻评分</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
